#sddm
{	margin: 0;
    padding: 0;
    z-index: 30}

#sddm li
{	margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 14px arial}

#sddm li a
{	display: block;
    margin: 0 1px 0 0;
    padding: 4px 10px;
    width: 100px;
    background: #333;
    color: #999;
    text-align: center;
    text-decoration: none}

#sddm li a:hover
{	background: #333;
    color: #FFF}

#sddm div
{	position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #5970B2}

#sddm div a
{	position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #EAEBD8;
    color: #333;
    font: 11px arial}

#sddm div a:hover
{	background: #999;
    color: #FFF}