<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:component-scan base-package="com.seyren" />
    <context:property-placeholder />

    <task:annotation-driven />

    <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />

        
        <context:component-scan base-package="com.seyren" />
        
        <task:annotation-driven />
	<bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:smtp.properties</value>
				<value>classpath:aws.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${smtp.server}" />
		<property name="port" value="${smtp.port}" />
		<property name="protocol" value="smtps" />
		<property name="username" value="${aws.accessKey}"/>
		<property name="password" value="${aws.secretKey}"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtps.auth">true</prop>
				<prop key="mail.smtp.ssl.enable">true</prop>
				<prop key="mail.transport.protocol">smtps</prop>
				<prop key="mail.debug">${smtp.debug.mail}</prop> 
			</props>
		</property>
	</bean> 
</beans>
