<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${SEYREN_LOG_FILE_LEVEL:-info}</level>
        </filter>
        <file>${SEYREN_LOG_PATH}seyren.log</file>
        
         <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <!-- Roll the file over each hour... -->
      		<fileNamePattern>${SEYREN_LOG_PATH}seyren.%d{yyyyMMdd_HH}.log.zip</fileNamePattern>
      		<timeBasedFileNamingAndTriggeringPolicy
          		class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
          		<!-- ... or whenever the file size reaches 200MB -->
        		<maxFileSize>200MB</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
      		<!-- keep 48 hours worth of history -->
      		<maxHistory>48</maxHistory>
    	</rollingPolicy>
    
        <encoder>
            <pattern>%d{MM/dd/yyyy HH:mm:ss.SSS} [%thread] %-5level %X{logItemId} %logger{36} - %msg%n %X{stack}</pattern>
        </encoder>
    </appender>
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${console.log.level:-off}</level>
        </filter>
        <encoder>
            <pattern>%d{MM/dd/yyyy HH:mm:ss.SSS} [%thread] %-5level %X{logItemId} %logger{36} - %msg%n %X{stack}</pattern>
        </encoder>
    </appender>

    <root level="all">
        <appender-ref ref="file" />
        <appender-ref ref="console" />
    </root>

</configuration>