<div class="row">
    <div class="col-lg-10">
        <h1><strong>Checks</strong></h1>
    </div>
    <div class="col-lg-2">
        <p></p><p><button id="createNewCheckButton" class="btn btn-success" data-keyboard="true" data-toggle="modal" data-show="true" data-target="#editCheckModal" ng-click="editCheck('new')"><span class="glyphicon glyphicon-check glyphicon-white"></span>&nbsp;Create check</button></p>
    </div>
</div>
<div class="row">
    <br/>
    <div class="col-lg-2">
        <div class="form-group">
            <input name="filter" ng-model="filter" type="text" placeholder="Filter..." class="form-control input-sm" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped table-hover" ng-show="checks.values.length > 0" ng-init="predicate=sortByState;reverse=true">
            <thead>
                <tr>
                    <th><a href="" ng-click="predicate='name';reverse=!reverse">Name</a></th>
                    <th><a href="" ng-click="predicate=sortByState;reverse=!reverse">State</a></th>
                    <th><a href="" ng-click="predicate='warn';reverse=!reverse">Warn</a></th>
                    <th><a href="" ng-click="predicate='error';reverse=!reverse">Error</a></th>
                    <th><a href="" ng-click="predicate='enabled';reverse=!reverse">Enabled</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="check in checks.values  | filter:filter | orderBy:[predicate,'-name']:reverse" ng-click="selectCheck(check.id)" style="cursor: pointer;">
                    <td title="{{ check.target }}">
                        <a href='#/checks/{{ check.id }}'>{{ check.name }}</a>
                    </td>
                    <td>
                        <span ng-show="check.state == 'UNKNOWN'" class="label label-default">{{ check.state }}</span>
                        <span ng-show="check.state == 'OK'" class="label label-success">{{ check.state }}</span>
                        <span ng-show="check.state == 'WARN'" class="label label-warning">{{ check.state }}</span>
                        <span ng-show="check.state == 'ERROR'" class="label label-danger">{{ check.state }}</span>
                        <span ng-show="check.state == 'EXCEPTION'" class="label label-inverse">{{ check.state }}</span>
                    </td>
                    <td>{{ check.warn }}</td>
                    <td>{{ check.error }}</td>
                    <td><input type="checkbox" ng-checked="check.enabled" ng-click="swapCheckEnabled(check); $event.stopPropagation();" /></td>
                </tr>
            </tbody>
        </table>
        <p ng-hide="checks.values.length > 0">We've got no checks. Why not create one?</p>
    </div>

</div>

<div class="absolute modal" tabindex="-1" role="dialog" ng-include="'./html/modal-partial-check.html'" id="editCheckModal">
</div>
