<div>
    <div class="row-fluid">
        <div class="span12">
            <ul class="thumbnails">
                <li class="span3" ng-repeat="graph in graphs">
                    <div class="thumbnail">
                        <a href="{{ liveLink(check, graph.minutes) }}" target="_blank">
                            <img ng:src="{{ liveImage(check, graph.minutes) }}" />
                        </a>
                        <h6 style="margin: 0px 0;">{{ graph.description }}</h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span7">
            <div class="row-fluid">
                <h2>Details <small>[<a class="" data-keyboard="true" data-toggle="modal" data-show="true" href="" ng-click="editCheck(check)">edit</a>]</small></h2>
            </div>
            <div class="row-fluid">
                <span class="span2">Name:</span>
                <span class="span10">{{check.name}}</span>
            </div>
            <div class="row-fluid">
                <span class="span2">Description:</span>
                <span class="span10">{{check.description}}</span>
            </div>
            <div class="row-fluid">
                <span class="span2">State:</span>
                <span class="span10">
                    <span ng-show="check.state == 'UNKNOWN'" class="label">{{ check.state }}</span>
                    <span ng-show="check.state == 'OK'" class="label label-success">{{ check.state }}</span>
                    <span ng-show="check.state == 'WARN'" class="label label-warning">{{ check.state }}</span>
                    <span ng-show="check.state == 'ERROR'" class="label label-important">{{ check.state }}</span>
                    <span ng-show="check.state == 'EXCEPTION'" class="label label-inverse">{{ check.state }}</span>
                </span>
            </div>
            <div class="row-fluid">
                <span class="span2">Target:</span>
                <span class="span10">{{check.target}}</span>
            </div>
            <div class="row-fluid">
                <span class="span2">Warn:</span>
                <span class="span10">{{check.warn}}</span>
            </div>
            <div class="row-fluid">
                <span class="span2">Error:</span>
                <span class="span10">{{check.error}}</span>
            </div>
            <div class="row-fluid">
                <span class="span2">Enabled:</span>
                <span class="span10"><input type="checkbox" ng-checked="check.enabled" ng-click="swapCheckEnabled(check)" /> </span>
            </div>
            <div class="row-fluid">
                <span class="span2">Last check:</span>
                <span class="span10">{{check.lastCheck | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>
        </div>
        <div class="span5">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Subscriptions</h2>
                </div>
                <div class="span4 pull-right">
                    <p></p><p><button id="editSubscaddriptionButton" class="btn btn-success" data-keyboard="true" data-toggle="modal" data-show="true" href="#editSubscriptionModal" ng-click="editSubscription(check, 'new')"><i class="icon-volume-up icon-white"></i>&nbsp;Add subscription</button></p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div ng-hide="check.subscriptions">This check has no subscriptions</div>
                    <table class="table table-bordered table-striped table-hover" ng-show="check.subscriptions" style="cursor: pointer;">
                        <thead>
                            <tr>
                                <th>Target</th>
                                <th>Type</th>
                                <th>Days</th>
                                <th>Time</th>
                                <th>Enabled</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="subscription in check.subscriptions">
                                <td>{{ subscription.target }}</td>
                                <td>{{ subscription.type }}</td>
                                <td>
                                    <span class="label label-info" ng-show="subscription.su">Su</span>
                                    <span class="label label-info" ng-show="subscription.mo">Mo</span>
                                    <span class="label label-info" ng-show="subscription.tu">Tu</span>
                                    <span class="label label-info" ng-show="subscription.we">We</span>
                                    <span class="label label-info" ng-show="subscription.th">Th</span>
                                    <span class="label label-info" ng-show="subscription.fr">Fr</span>
                                    <span class="label label-info" ng-show="subscription.sa">Sa</span>
                                </td>
                                <td>{{ subscription.fromTime }} to {{ subscription.toTime }}</td>
                                <td>
                                    <input type="checkbox" ng-checked="subscription.enabled" ng-click="swapSubscriptionEnabled(check, subscription)" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-danger btn-mini" ng-click="deleteSubscription(check, subscription)">Delete</button>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-mini" data-keyboard="true" data-toggle="modal" data-show="true" href="#editSubscriptionModal" ng-click="editSubscription(check, subscription)">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h2>
            Alerts <small>( {{alerts.start}} of {{alerts.total}} )</small>
        </h2>
        <div class="pagination">
            <ul>
                <li><a ng-click="loadOlderAlerts()">&larr; Older</a></li>
                <li><a ng-click="loadNewerAlerts()">Newer &rarr;</a></li>
            </ul>
        </div>
        <table class="table table-bordered table-striped table-hover" ng-show="alerts.values">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Target</th>
                    <th>Value</th>
                    <th>Warn level</th>
                    <th>Error level</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="alert in alerts.values">
                    <td>{{ alert.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ alert.target }}</td>
                    <td>{{ alert.value }}</td>
                    <td>{{ alert.warn }}</td>
                    <td>{{ alert.error }}</td>
                    <td>
                        <span ng-show="alert.fromType == 'UNKNOWN'" class="label">{{ alert.fromType }}</span>
                        <span ng-show="alert.fromType == 'OK'" class="label label-success">{{ alert.fromType }}</span>
                        <span ng-show="alert.fromType == 'WARN'" class="label label-warning">{{ alert.fromType }}</span>
                        <span ng-show="alert.fromType == 'ERROR'" class="label label-important">{{ alert.fromType }}</span>
                        <span ng-show="alert.fromType == 'EXCEPTION'" class="label label-inverse">{{ alert.fromType }}</span>
                    </td>
                    <td>
                        <span ng-show="alert.toType == 'UNKNOWN'" class="label">{{ alert.toType }}</span>
                        <span ng-show="alert.toType == 'OK'" class="label label-success">{{ alert.toType }}</span>
                        <span ng-show="alert.toType == 'WARN'" class="label label-warning">{{ alert.toType }}</span>
                        <span ng-show="alert.toType == 'ERROR'" class="label label-important">{{ alert.toType }}</span>
                        <span ng-show="alert.toType == 'EXCEPTION'" class="label label-inverse">{{ alert.toType }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="pull-right">
                <button class="btn btn-danger" data-keyboard="true" data-toggle="modal" data-show="true"  id="deleteCheckButton" href="#confirmCheckDeleteModal">Delete check</button>
            </div>
        </div>
    </div>

    <div class="modal hide" tabindex="-1" id="confirmCheckDeleteModal">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">x</button>
            <h4>Are you sure?</h4>
        </div>
        <div class="modal-body">
            <div class="pull-right">
                <button class="btn" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="confirmDeleteCheckButton" ng-click="deleteCheck(check)">Ok</button>
            </div>
        </div>
    </div>

    <div class="modal hide" tabindex="-1" ng-include="'./html/modal-partial-subscription.html'" id="editSubscriptionModal">
    </div>

    <div class="modal hide" tabindex="-1" ng-include="'./html/modal-partial-check.html'" id="editCheckModal">
    </div>
    
</div>


