<div class="panel-heading">
    <h3 class="panel-title">
        <input name="savedFilterSearch" ng-model="filterSearch" type="text" placeholder="Filter..." class="form-control input-sm" />
    </h3>
</div>
<div class="panel-body">
    <div class="filter-panel-row" ng-repeat="savedFilter in savedFilters.values | filter:filterSearch">
        <div class="filter-panel-row-label filter-panel-column" ng-click="searchByFilter(savedFilter.filter)">
            {{ savedFilter.name }}
        </div>
        <div class="filter-panel-row-delete filter-panel-column">
            <div class="btn btn-danger btn-xs" ng-click="deleteFilter(savedFilter)">&#x274C;</div>
        </div>
    </div>
    <p ng-hide="savedFilters.values.length > 0">We've got no filters. Why not create one?</p>
</div>