<div class="modal-dialog" ng-controller="SubscriptionEditModalController">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" ng-show="newSubscription"><strong>Add subscription</strong></h3>
        <h3 class="modal-title" ng-hide="newSubscription"><strong>Edit subscription</strong></h3>
    </div>
    <div class="modal-body">
        <form name="checkSubscription" class="form-horizontal" role="form" novalidate>
            <fieldset>
                <div ng-class="{ 'form-group': true, 'has-error': checkSubscription['subscription.target'].$invalid }">
                    <label class="col-sm-3 control-label" for="subscription.target">Target</label>
                    <div class="col-sm-7">
                        <input id="subscription.target" class="form-control" name="subscription.target" ng-model="subscription.target" type="text" required />
                    </div>
                </div>
                <div ng-class="{ 'form-group': true, 'has-error': checkSubscription['subscription.type'].$invalid }">
                    <label class="col-sm-3 control-label" for="subscription.type">Type</label>
                    <div class="col-sm-4">
                        <select id="subscription.type" class="form-control" name="subscription.type" ng-model="subscription.type">
                            <option value="BIGPANDA">BigPanda</option>
                            <option value="EMAIL">Email</option>
                            <option value="FLOWDOCK">Flowdock</option>
                            <option value="HIPCHAT">HipChat</option>
                            <option value="HTTP">HTTP</option>
                            <option value="HUBOT">Hubot</option>
                            <option value="IRCCAT">IRCcat</option>
                            <option value="LOGGER">Logger</option>
                            <option value="PAGERDUTY">PagerDuty</option>
                            <option value="PUSHOVER">Pushover</option>
                            <option value="OPSGENIE">OpsGenie</option>
                            <option value="SLACK">Slack</option>
                            <option value="SNMP">SNMP</option>
                            <option value="TWILIO">TWILIO</option>
                            <option value="VICTOROPS">VictorOps</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Notify on</label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <input id="subscription.notifyOnWarn" name="subscription.notifyOnWarn" ng-model="subscription.notifyOnWarn" ng-change="notifyOnWarnClicked()" type="checkbox" checked="checked">Warn
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <input id="subscription.notifyOnError" name="subscription.notifyOnError" ng-model="subscription.notifyOnError" ng-change="notifyOnErrorClicked()" type="checkbox" checked="checked">Error
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <input id="subscription.notifyOnOk" name="subscription.notifyOnOk" ng-model="subscription.notifyOnOk" ng-change="notifyOnOkClicked()" type="checkbox" checked="checked">Ok
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Days</label>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="subscription.su" name="subscription.su" ng-model="subscription.su" type="checkbox" checked="checked">Su
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="subscription.mo" name="subscription.mo" ng-model="subscription.mo" type="checkbox" checked="checked">Mo
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="subscription.tu" name="subscription.tu" ng-model="subscription.tu" type="checkbox" checked="checked">Tu
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="subscription.we" name="subscription.we" ng-model="subscription.we" type="checkbox" checked="checked">We
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="subscription.th" name="subscription.th" ng-model="subscription.th" type="checkbox" checked="checked">Th
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="subscription.fr" name="subscription.fr" ng-model="subscription.fr" type="checkbox" checked="checked">Fr
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="checkbox">
                            <input id="subscription.sa" name="subscription.sa" ng-model="subscription.sa" type="checkbox" checked="checked">Sa
                        </div>
                    </div>
                </div>
                <div ng-class="{ 'form-group': true, 'has-error': checkSubscription['subscription.fromTime'].$invalid || checkSubscription['subscription.toTime'].$invalid }">
                    <label class="col-sm-3 control-label" for="subscription.fromTime">From</label>
                    <div class="col-sm-3">
                        <input id="subscription.fromTime" class="form-control" name="subscription.fromTime" ng-model="subscription.fromTime" ng-pattern="/^[0-9]{4}$/" type="text" required>
                    </div>
                    <div class="col-sm-1">
                        <div class="control-label">
                            &nbsp;to&nbsp;
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input id="subscription.toTime" class="form-control" name="subscription.toTime" ng-model="subscription.toTime" ng-pattern="/^[0-9]{4}$/" type="text" required>
                    </div>
                </div>
                <div ng-class="{ 'form-group': true, 'has-error': checkSubscription['subscription.enabled'].$invalid }">
                    <label class="col-sm-3 control-label" for="subscription.enabled">Enabled</label>
                    <div class="col-sm-3">
                        <div class="checkbox">
                            <input id="subscription.enabled" name="subscription.enabled" ng-model="subscription.enabled" type="checkbox" ng-checked="subscription.enabled" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn pull-left" data-dismiss="modal" id="cancelSubscriptionButton" ng-click="reset()"><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Cancel</button>
        <button type="submit" class="btn btn-primary" ng-show="newSubscription" id="createSubscriptionButton" ng-click="create()" ng-disabled="checkSubscription.$invalid"><i class="glyphicon glyphicon-ok glyphicon-white"></i>&nbsp;&nbsp;Add</button>
        <button type="submit" class="btn btn-primary" ng-hide="newSubscription" id="updateSubscriptionButton" ng-click="update()" ng-disabled="checkSubscription.$invalid"><i class="glyphicon glyphicon-ok glyphicon-white"></i>&nbsp;&nbsp;Save changes</button>
    </div>
</div>
</div>
