<div ng-controller="SubscriptionEditModalController">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3 ng-show="newSubscription">Add subscription</h3>
        <h3 ng-hide="newSubscription">Edit subscription</h3>
    </div>
    <div class="modal-body">
        <form name="checkSubscription" class="well form-horizontal" novalidate>
            <fieldset>
                <div ng-class="{ 'control-group': true, 'error': checkSubscription['subscription.target'].$invalid }">
                    <label class="control-label" for="subscription.target">Target</label>
                    <div class="controls">
                        <input id="subscription.target" class="input-xlarge" name="subscription.target" ng-model="subscription.target" type="text" required />
                    </div>
                </div>
                <div ng-class="{ 'control-group': true, 'error': checkSubscription['subscription.type'].$invalid }">
                    <label class="control-label" for="subscription.type">Type</label>
                    <div class="controls">
                        <select id="subscription.type" class="input-medium" name="subscription.type" ng-model="subscription.type">
                            <option value="EMAIL">Email</option>
                            <option value="HIPCHAT">HipChat</option>
                            <option value="PAGERDUTY">PagerDuty</option>
                            <option value="HUBOT">Hubot</option>
                            <option value="FLOWDOCK">Flowdock</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Notify on</label>
                    <div class="controls">
                        <label class="checkbox inline">
                            <input id="subscription.notifyOnWarn" class="input-medium" name="subscription.notifyOnWarn" ng-model="subscription.notifyOnWarn" ng-click="notifyOnWarnClicked()" type="checkbox" checked="checked">Warn
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.notifyOnError" class="input-medium" name="subscription.notifyOnError" ng-model="subscription.notifyOnError" ng-click="notifyOnErrorClicked()" type="checkbox" checked="checked">Error
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.notifyOnOk" class="input-medium" name="subscription.notifyOnOk" ng-model="subscription.notifyOnOk" ng-click="notifyOnOkClicked()" type="checkbox" checked="checked">Ok
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Days</label>
                    <div class="controls">
                        <label class="checkbox inline">
                            <input id="subscription.su" class="input-medium" name="subscription.su" ng-model="subscription.su" type="checkbox" checked="checked">Su
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.mo" class="input-medium" name="subscription.mo" ng-model="subscription.mo" type="checkbox" checked="checked">Mo
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.tu" class="input-medium" name="subscription.tu" ng-model="subscription.tu" type="checkbox" checked="checked">Tu
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.we" class="input-medium" name="subscription.we" ng-model="subscription.we" type="checkbox" checked="checked">We
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.th" class="input-medium" name="subscription.th" ng-model="subscription.th" type="checkbox" checked="checked">Th
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.fr" class="input-medium" name="subscription.fr" ng-model="subscription.fr" type="checkbox" checked="checked">Fr
                        </label>
                        <label class="checkbox inline">
                            <input id="subscription.sa" class="input-medium" name="subscription.sa" ng-model="subscription.sa" type="checkbox" checked="checked">Sa
                        </label>
                    </div>
                </div>
                <div ng-class="{ 'control-group': true, 'error': checkSubscription['subscription.fromTime'].$invalid || checkSubscription['subscription.toTime'].$invalid }">
                    <label class="control-label" for="subscription.fromTime">From</label>
                    <div class="controls">
                        <input id="subscription.fromTime" class="input-small" name="subscription.fromTime" ng-model="subscription.fromTime" ng-pattern="/^[0-9]{4}$/" type="text" required>
                        &nbsp;to&nbsp;
                        <input id="subscription.toTime" class="input-small" name="subscription.toTime" ng-model="subscription.toTime" ng-pattern="/^[0-9]{4}$/" type="text" required>
                    </div>
                </div>
                <div ng-class="{ 'control-group': true, 'error': checkSubscription['subscription.enabled'].$invalid }">
                    <label class="control-label" for="subscription.enabled">Enabled</label>
                    <div class="controls">
                        <input id="subscription.enabled" name="subscription.enabled" ng-model="subscription.enabled" type="checkbox" ng-checked="subscription.enabled" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn pull-left" data-dismiss="modal" id="cancelSubscriptionButton"><i class="icon-remove"></i>&nbsp;&nbsp;Cancel</button>
        <button type="submit" class="btn btn-primary" ng-show="newSubscription" id="createSubscriptionButton" ng-click="create()" ng-disabled="checkSubscription.$invalid"><i class="icon-ok icon-white"></i>&nbsp;&nbsp;Add</button>
        <button type="submit" class="btn btn-primary" ng-hide="newSubscription" id="updateSubscriptionButton" ng-click="update()" ng-disabled="checkSubscription.$invalid"><i class="icon-ok icon-white"></i>&nbsp;&nbsp;Save changes</button>
    </div>

</div>